<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReservations" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IReservations">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8523/CarRentalService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReservations"
                contract="TcpCarRenatlService.IReservations" name="NetTcpBinding_IReservations">
                <identity>
                    <userPrincipalName value="DESKTOP-E2HD9NN\HP" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:44314/RentalReservationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReservations"
                contract="HttpCarRentalService.IReservations" name="WSHttpBinding_IReservations" />
        </client>
    </system.serviceModel>
</configuration>